.entrada{
    border: 2px solid black;
    page-break-before: always;
}

.cabezera-entrada{
    display: flex;
    background-color: #424242;

    & > img {
        margin-left: 3%;
        margin-top: 1%;
        margin-bottom: 1%;
        height: 30px;
    }
}

.contenedor-entrada{
    width: 100%;
}

.img-evento-etrada{
    /*float: left;*/
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;

    & > img{
        width: 200px;
        height: 310px; 
    }
}

.titulo-entrada{
    font-weight: bold;
    font-size: 25px;
}

.qr-entrada > img{
    width: 200px;
}

.info-entrada{
    width: 100%;
    padding-left: 5%;
}

.texto-entrada > p{
    margin: 0;
    padding-left: 5px;
    padding-bottom: 10px;
}

.imagenes-info-entrada > img{
    width: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}