.event-counter {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30vh, 1fr));
    justify-items: center;
    gap: 20px;
    margin: 2%;
}

@media screen and (max-width: 425px){
    .event-counter {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(29vh, 1fr));
        gap: 20px;
        height: calc(85vh - 110px - 110px);
        overflow-y: auto;
    }
}

