$font-family_1: 'Work Sans';

.card-margin {
    margin: 5vh;
}

.card-showEvent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #D9D9D9;
    margin: 5vh auto;
    border: 3px solid;
    border-color: #F9BD06;
    box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.5);
}

.img-showEvent {
    flex: 1;
    height: 20%;

    img {
        width: 100%;
    }
}

.info-showEvent {
    flex: 1;
    font-family: $font-family_1;
    font-size: 1.2rem;
    margin: 20px;
}

.ubicacion-showEvent {
    p {
        margin: 0;
    }

    .ubicacion-title-showEvent {
        display: flex;
        align-items: center;

        img {
            padding-left: 10px;
            width: 2vh;
            height: 3vh;
        }
    }
}

.select-wrapper {
    position: relative;
    margin-top: 5px;

    select {
        width: 80%;
        height: 3vh;
        cursor: pointer;
    }
}

.card-timeSesion {
    .session-time {
        background-color: #F9BD06;
        border-radius: 7px;
        cursor: pointer;
        margin-bottom: 5px;
        padding: 1vh;
    }

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    justify-items: center;
    grid-gap: 10px;
    align-items: center;
}

.card-showTickets {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.ticket-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2vh;
    background-color: #D9D9D9;
    margin: 5vh auto;
    border: 3px solid;
    border-color: #F9BD06;
    box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;

    input {
        padding: 2vh;
        font-size: 1rem;
        margin-left: auto;
    }
}

#total-price-container {
    width: 35vh;
    display: grid;
    grid-template-columns: 0.3fr 1.3fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 2vh;
    margin-left: auto;

    p {
        font-size: 1.2rem;
        font-family: $font-family_1;
        color: #000000;
    }
}



.mensaje-error{
    color: red;
    font-size: 1.1rem;
    font-family: $font-family_1;
    text-decoration: none;
}


// .............


.card-showComents {
	width: 80vw;
	font-family: $font-family_1;
	h3 {
		font-size: 1.5rem;
	}
}
.reseña {
	display: grid;
	grid-template-columns: 0.7fr 6fr;
	padding: 1vh 0 2vh 0;
}
.reseñaCara {
	display: flex;
	align-items: center;
	justify-content: center;
}
.reseñaNombre {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
.reseñaTexto {
	font-size: 1.1rem;
}
.reseñaEstrellas {
	display: flex;
	justify-content: center;
}
.card-compra {
	margin: 5vh;
}
#countdown-container {
	padding: 2vh;
	display: grid;
	justify-content: center;
	align-items: center;
	font-size: 1.6rem;
	font-weight: bold;
}



@media screen and (max-width: 450px) {

    .card-showEvent {
        display: flex;
        flex-direction: column;

        background-color: #D9D9D9;
        margin: 10vw auto;
        border: 3px solid;
        border-color: #F9BD06;
        box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.5);
    }

    .img-showEvent {
        flex: 1;
    }

    .info-showEvent {
        flex: 1;
        font-family: $font-family_1;
        margin: 10px;
    }


    .ubicacion-title-showEvent {
        display: flex;
        align-items: center;
        width: 100%;
    }

   

    .ubicacion-showEvent p {
        margin: 0;
    }

    .sesions-showEvent {
        width: 100%;
    }

    .select-wrapper {
        position: relative;
        width: 80%;
        margin-top: 5px;
    }

    .select-wrapper select {
        width: 100%;
        height: 7vw;
    }

    .card-timeSesion .session-time {
        background-color: #F9BD06;
        border-radius: 7px;
        margin-bottom: 5px;
    }

    .card-timeSesion {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        justify-items: center;
        grid-gap: 10px;
        align-items: center;
    }

    #total-price-container {
        width: 30vh;
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        justify-items: center;
        align-items: center;
        margin: auto;

    }

    .ticket-container input {
        padding: 1vh;
        font-size: 1rem;
        margin-left: auto;
        margin:1vh;
    }

}