@mixin pagination-disable{
    color: #999;
    pointer-events: none;
    cursor: not-allowed;
}

@mixin pagination-option{
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid #000000;
    color: #000000;
}

@mixin texto-resultado-busqueda{
    color: #0642F9;
    font-weight: bold;
    font-size: 27px;
}