/* public/css/styles.css */

/*HEADER*/
body {
    margin: 0%;
}

.nav {
    display: grid;
    grid-template-columns: 0.3fr 0.2fr 4fr 0.5fr;
    align-items: center;
    padding: 0.8vh;
    background-color: #0642F9;
}


.navLogo {
    display: grid;
    justify-content: center;
    position: relative;
    width: 100vw;
    justify-items: center;
}

body.body-login .navLogo,
body.body-resetPwd .navLogo {
    display: none;
}

body.body-login .auth,
body.body-resetPwd .auth {
    display: none;
}

body.body-login .menuIMG,
body.body-resetPwd .menuIMG {
    display: none;
}

.navLogo img {
    width: 50vh;
}

.logoNav {
    width: 10vh;
}

.separator {
    width: 100vw;
    height: 3px;
    background-color: #0642F9;
    position: absolute;
    bottom: -10%;
}


.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth a,
.userAuth {
    margin-top: 0.5rem;
    color: white;
    font-size: 1.25rem;
    font-family: 'Work Sans';
    text-decoration: none;
}

.auth img {
    width: 5vh;
}

/*FOOTER*/
.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 15vh;
    background-color: #424242;
    bottom: 0%;
}

.logo {
    margin-left: 1%;
    width: 5vh;
}

.logoNombre {
    width: 20vh;
}


/*BUSCADOR*/
.contenedorBuscador {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 1.5%;
    position: relative;
}

.buscador {
    width: 30vw;
    padding: 1vh;
    border-radius: 10px;
    margin-right: 0.5%;
    font-size: 1.25rem;
    padding-left: 5vh;
    background-color: rgba(6, 66, 249, 0.133);

}

.imagenLupa {
    position: absolute;
    margin-left: 0.5vw;
}

.imagenFiltrar {
    position: absolute;
    right: 39vw;
}

.botonBuscador {
    padding: 1vh;
    border-radius: 7px;
    background-color: #F9BD06;
    border-color: #0642F9;
    font-size: 1.25rem;
    cursor: pointer;
}

.botonBuscador:hover,
#buy-button:hover {
    background-color: #e6ad05;
    border-color: #0642F9;
}

.form-buscador {
    display: flex;
    align-items: center;
    text-align: center;
}

/*------------------------------------------------------*/

/*MENU*/
.dropdown {
    display: flex;
    justify-content: start;
    grid-row: 1;
    background-color: #0642F9;
}

.menuIMG {
    cursor: pointer;
    width: 8vh;
    margin-left: 15%;
}


.dropdown-content {
    position: fixed;
    top: 12.3vh;
    left: 0;
    width: 35vh;
    height: 100vh;
    display: none;
    overflow: auto;
    background-color: #0642F9;
    border-top: 0.5px solid black;
    z-index: 10;
}

.dropdown-content p {
    display: block;
    color: #FFFFFF;
    padding: 10px 0px 10px 50px;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: 'Work Sans';
}

.dropdown-content a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: 'Work Sans';
}


.logout,
.homeMenu,
.homePromotorMenu,
.aboutusMenu,
.legalnoticeMenu {
    display: flex;
    align-items: center;
    padding: 7% 0% 5% 10%;
    transition: box-shadow 0.3s ease;
}

.logout:hover,
.homeMenu:hover,
.homePromotorMenu:hover,
.aboutusMenu:hover,
.legalnoticeMenu:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Añadimos la sombra al pasar el cursor */
}

.logout img,
.homeMenu img,
.homePromotorMenu img {
    padding-right: 1vh;
}

.logout a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: 'Work Sans';
    padding-right: 3%;
}

.imagenUsuarioDespegable {
    margin-top: 1vh;
    padding-left: 40px;
}

.linksFooter {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    position: static;
    width: 100vw;
    bottom: 0;
}

.linksFooter a {
    font-size: 1.10rem;
    text-decoration: none;
    font-family: 'Work Sans';
    color: white;
}

.item-1 {
    grid-row: 1/2;
    grid-column: 1/2;
    /* Home Promotor */
}

.item-2 {
    grid-row: 1/2;
    grid-column: 2/3;
    /* Sobre nosaltres */
}

.item-3 {
    grid-row: 1/2;
    grid-column: 3/4;
    /* Avisos legales */
}

.item-4 {
    grid-row: 2/3;
    grid-column: 1/2;
    /* Mostrar Esdeveniments */
}

.item-5 {
    grid-row: 2/3;
    grid-column: 2/3;
    /* Comprar entrades */
}

/*Eventos*/
.event-counter {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30vh, 1fr));
    /* Usamos auto-fill para ajustar dinámicamente el número de columnas */
    gap: 20px;
    margin: 2%;
}

.show-event-home {
    max-width: 30vh;
    min-width: 30vh;
    min-height: 50vh;
    max-height: 50vh;
    background-color: #ebebeb;
    margin-bottom: 5%;
    border: 5px solid;
    border-color: #F9BD06;
    cursor: pointer;
    font-family: 'Work Sans';
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    position: relative;
}

.show-event-home:hover {
    background-color: #D9D9D9;
    border-color: #e6ad05;
}

.show-event-home-img {
    width: 100%;
    height: 35%;
}

.show-event-home-title {
    font-size: 1.4rem;
    margin: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.show-event-home a {
    color: #000000;
    text-decoration: none;
}

.elementsEvents {
    display: flex;
    flex-direction: column;
}

.elementsEvents p {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1rem;
    margin: 5%;
}

.elementsEvents img {
    padding-right: 2%;
}

.btneditEvent {
    position: absolute;
    top: 1vh;
    right: 1vh; 
    padding: 0.5vh;
    background-color: #ebebeb;
    border: 1px solid #000000;
    border-radius: 1vh;
    z-index: 3; 
    cursor: pointer;
}

.btneditEvent:hover {
    background-color: #D9D9D9;
}

/*HOME PROMOTOR BOTONES*/
.btnHomePromotor {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center; 
    margin: 26vh 2vh;
}

.btnCrearEvent,
.btnAdministrarEvent,
.btnListarSesionEvent {
    padding: 2vh;
    border-radius: 7px;
    background-color: #F9BD06;
    border: 2px solid #0642F9;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;

}

.btnCrearEvent a,
.btnAdministrarEvent a,
.btnListarSesionEvent a {
    text-decoration: none;
    text-align: center; 
    color: black;
    font-family: 'Work Sans';

}

.btnCrearEvent:hover,
.btnAdministrarEvent:hover,
.btnListarSesionEvent:hover {
    background-color: #e6ad05;
    border-color: #0642F9;
}



/*Filtro*/
.div_filtro {
    border: 1px solid #000000;
    background-color: #B5B5B5;
    margin: auto;
    margin-top: 1%;
    padding: 2.5vh;
    width: 30vh;
    display: none;
}

.div_filtro p {
    margin: 0px;
    padding: 0px;
}

.filtro {
    background-color: #ebeaea;
    border-radius: 0;
    width: 100%;
}


/*Menu de paginación*/
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.pagination li {
    margin-right: 5px;
}

.pagination a,
.pagination span {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border: 1px solid #000000;
}

.pagination a:hover {
    background-color: #e2e2e2;
}

.pagination .active span {
    background-color: #0642F9;
    color: #F9BD06;
    cursor: default;
}

.pagination .disabled span,
.pagination .disabled a {
    color: #999;
    pointer-events: none;
    cursor: not-allowed;
}

.contenedor-pagination-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Menu de paginación*/

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.pagination li {
    margin-right: 5px;
}

.pagination a,
.pagination span {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border: 1px solid #000000;
}

.pagination a:hover {
    background-color: #e2e2e2;
}

.pagination .active span {
    background-color: #0642F9;
    color: #F9BD06;
    cursor: default;
}

.pagination .disabled span,
.pagination .disabled a {
    color: #999;
    pointer-events: none;
    cursor: not-allowed;
}

.contenedor-pagination-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.info-pagination {
    align-self: center;
    justify-self: center;
    margin-left: 9vh;
}

.info-pagination>p,
.info-pagination>span {
    font-weight: bold;
    font-size: 1.2em;
}

.font-medium {
    color: #000000;
}

.pagination-menu {
    margin-right: 12vh;
}

/*Home*/

.category-home {

    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-top: 3%;
    margin-right: 3%;
}

.category-home>p {
    margin: 0;
    padding: 0;
    color: #0642F9;
    font-family: 'Work Sans';
    font-size: 4rem;
    margin-bottom: 2%;
}

.events-category-home {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    align-items: center;
}

.events-category-home>div {
    margin-right: 5%;
    margin-bottom: 2%;
}

.events-category-home>button {
    margin-left: 3%;
    font-size: medium;

}


/*LOGIN*/
.login {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #D9D9D9;
    margin: 4.5% auto;
    padding: 2.5%;
    font-family: 'Work Sans';
    border: 0.188rem solid #0642F9;
    border-radius: 0.313rem;
    width: 65vw;
}


.card-form-reset {
    width: 40%;
    background-color: #D9D9D9;
    margin: 2% auto;
    padding: 1% 2%;
    font-family: 'Work Sans';
    border: 0.188rem solid;
    border-color: #0642F9;
    border-radius: 0.313rem;
}

.card-expired {
    width: 32%;
    background-color: #D9D9D9;
    margin: 3% auto;
    padding: 1% 2%;
    font-family: 'Work Sans';
    border: 0.188rem solid;
    border-color: #0642F9;
    border-radius: 0.313rem;
}

.titleLogin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 2.25rem;
    font-weight: bold;
    margin: 0;
}


.accede p {
    font-size: 1.625rem;
    font-weight: bold;
    margin: 0;
}

.registrate p {
    font-size: 1.375rem;
    margin-top: 1%;
    margin-bottom: 2%;
}

.registrate a {
    text-decoration: none;
    color: #0642F9;
}

.contraLogin,
.correoLogin {
    margin-top: 1rem;
}

.correoLogin span,
.contraLogin span,
.credenciales,
.mensaje-error,
.emailerror,
.passworderror,
.resetPwdError,
.invalid-feedback {
    color: red;
    font-size: 1.1rem;
    font-family: 'Work Sans';
    text-decoration: none;
}

.correoLogin label,
.contraLogin label {
    font-size: 1.5rem;
}



.correoLogin input,
.contraLogin input {
    position: relative;
    width: 100%;
    padding: 2vh;
    font-size: 1rem;
    margin-top: 0.3rem;
}

.toggle-password {
    position: absolute;
    transform: translateY(-120%);
    cursor: pointer;
    right: 19%;
}




.olvidadoContra {
    text-align: right;
    margin: 0;
    margin-top: 1%;
    font-size: 1.25rem;
}

.olvidadoContra a {
    text-decoration: none;
    color: #0642F9;
}

.btnIniciaSesion {
    padding: 2vh;
    border-radius: 7px;
    background-color: #F9BD06;
    border-color: #0642F9;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 1.2rem;
    cursor: pointer;
}

.btnIniciaSesion:hover {
    background-color: #e6ad05;
    border-color: #0642F9;
}

.btnResetSesion {
    border-radius: 7px;
    background-color: #F9BD06;
    border-color: #0642F9;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 1.2rem;
    padding: 2vh;
    cursor: pointer;
}

.btnResetSesion:hover {
    background-color: #e6ad05;
    border-color: #0642F9;
}


/*RESET PASSWORD*/
.resetPwd {
    width: 65vw;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #D9D9D9;
    margin: 4.5% auto;
    padding: 2.5%;
    font-family: 'Work Sans';
    border: 0.188rem solid;
    border-color: #0642F9;
    border-radius: 0.313rem;
}



.titleResetPwd {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 2.25rem;
    font-weight: bold;
    margin: 0;
}


.txtResetPwd p {
    font-size: 1.375rem;
    margin-top: 1%;
    margin-bottom: 2%;
}


.correoReset label {
    display: block;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.correoReset input {
    width: 100%;
    padding: 2vh;
    font-size: 1rem;
    margin-top: 0.313rem;
}


.volverInicioSesion {
    text-align: left;
    margin-top: 1rem;
    font-size: 1.25rem;
}

.volverInicioSesion a {
    text-decoration: none;
    color: #0642F9;
}

.btnResetPwd {
    padding: 2vh;
    border-radius: 7px;
    background-color: #F9BD06;
    border-color: #0642F9;
    margin-top: 2.5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 1.2rem;
    cursor: pointer;
}

.btnResetPwd:hover {
    background-color: #e6ad05;
    border-color: #0642F9;
}

.ver-mas-button {
    align-self: self-end;
    margin-top: 2%;
    margin-bottom: 1%;
}

.card-expired a {
    color: #0642F9;
}

.resetPwdExito,
.credenciales-success,
.correcto {
    color: green;
    font-size: 1.1rem;
    font-family: 'Work Sans';
}

.img-showEvent {
    flex: 1;
    height: 20%;
}

.img-showEvent img {
    width: 100%;
}

.info-showEvent {
    flex: 1;
    font-family: 'Work Sans';
    font-size: 1.2rem;
    margin: 20px;
}


.ubicacion-title-showEvent {
    display: flex;
    align-items: center;

}

.ubicacion-title-showEvent img {
    padding-left: 10px;
    width: 3%;
    height: 3%;
}

.ubicacion-showEvent p {
    margin: 0;
}

.select-wrapper {
    position: relative;
    margin-top: 5px;
}

.select-wrapper select {
    width: 80%;
    height: 2vw;
    cursor: pointer;
}

.card-timeSesion .session-time {
    background-color: #F9BD06;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 1vh;
}

.card-timeSesion {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    justify-items: center;
    grid-gap: 10px;
    align-items: center;
}

.eventos-no-encontrados {
    color: #0642F9;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    padding: 19vh;
}

/*MOSTRAR EVENTOS*/
.card-showEvent {
    display: flex;
    flex-wrap: wrap;
    
    flex-direction: row;
    background-color: #D9D9D9;
    margin: 5vh auto;
    border: 3px solid;
    border-color: #F9BD06;
    box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.5);
}


.card-showTickets{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.ticket-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2vh;
    background-color: #D9D9D9;
    margin: 5vh auto;
    border: 3px solid;
    border-color: #F9BD06;
    box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;
}


.ticket-container input{
    padding: 2vh;
    font-size: 1rem;
    margin-left: auto;
}

#total-price-container{
    width: 35vh;
    display: grid;
    grid-template-columns: 0.3fr 1.3fr 1fr ;
    justify-items: center;
    align-items: center;
    margin: 2vh;
    margin-left: auto;
}

#total-price-container p{
    font-size: 1.2rem;
    font-family: 'Work Sans';
    color: #000000;

}

#buy-button{
    padding: 2vh;
    border-radius: 7px;
    background-color: #F9BD06;
    border-color: #0642F9;
    margin: 1vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 1.2rem;
    cursor: pointer;
}

.card-margin{
    margin: 5vh;
}


.card-showTickets{
    display: none;
}

.mostar-sesiones-promotor{
    margin-left: 20%;
    margin-right: 20%;
}

.titulo-sessions-promotor {
    text-align: center;
    color: #0642F9;
}


.buttons-sessions-promotor {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    width: 100%;
    margin-right: 10%;

}

 .buttons-sessions-promotor > button{
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    background-color: #F9BD06;
    border-color: #0642F9;
 }


.info-session {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-session > img{
    margin-right: 5%;
}


.show-session-promotor {
    display: flex;
    flex-direction: row;
    background-color: #B5B5B5;
    border: 5px solid;
    border-color: #F9BD06;
    margin-bottom: 5%;
}

.sesion-parte-superior{
    display: flex;
    flex-direction: row;
}

.imagen-sesion-promotor {
    max-width: 30%;
    margin-right: 10%;
}

.info-session-contenedor{
    margin-right: 20%; 
}

.mostrar-acciones{
    display: none;
}

.mostrar-acciones > img {
    margin-top: auto;
    margin-bottom: auto;
    max-width: 40px;
    
}

.titulo-mostar-sesion-promotor{
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    margin-top: 10%;
    margin-bottom: 5%;
}

.entrada{
    border: 2px solid black;
}

.cabezera-entrada{
    display: flex;
    background-color: #424242;
}

.cabezera-entrada > img{
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 30px;
}
.contenedor-entrada{
    width: 100%;
}

.img-evento-etrada{
    /*float: left;*/
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
}

.img-evento-etrada > img{
    width: 200px;
    height: 310px;
}

.titulo-entrada{
    font-weight: bold;
    font-size: 25px;
}

.qr-entrada > img{
    width: 200px;
}

.info-entrada{
    width: 100%;
    padding-left: 5%;
}

.texto-entrada > p{
    margin: 0;
    padding-left: 5px;
    padding-bottom: 10px;
}

.imagenes-info-entrada > img{
    width: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

/*PANTALLA MÓVIL*/
@media screen and (max-width: 425px) {

    /*header*/
    .navLogo img {
        width: 90vw;
    }

    /*footer*/
    .footer {
        padding: 0.1vh;
    }

    .logo {
        margin-left: 3%;
        width: 10%;
    }

    .logoNombre {
        width: 40%;
    }

    .linksFooter {
        width: 100vw;
        display: none;
    }

    /*Menu*/
    .menuIMG {
        width: 8vh;
    }


    .dropdown-content {
        width: 30vh;
    }


    .logout,
    .homeMenu,
    .homePromotorMenu,
    .aboutusMenu,
    .legalnoticeMenu {
        display: flex;
        align-items: center;
        padding: 5% 0% 5% 10%;
    }


    .imagenUsuarioDespegable {
        display: flex;
        padding-left: 5%;
    }

    /*Buscador*/
    .buscador {
        width: 50vw;
    }

    .imagenLupa {
        position: absolute;
        margin-left: 1.5vw;
    }

    .div_filtro {
        border: 1px solid #000000;
        background-color: #B5B5B5;
        margin: auto;
        margin-top: 1%;
        padding: 2vh;
        width: 24vh;
        display: none;
    }

    /*Eventos*/
    .event-counter {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(29vh, 1fr));
        gap: 20px;
        height: calc(85vh - 110px - 110px);
        overflow-y: auto;
    }

    .show-event-home-img {
        width: 100%;
        height: 27%;
    }

    /*Login*/
    .login {
        width: 90vw;
        background-color: transparent;
        border: transparent;
        font-family: 'Work Sans';
    }

    .titleLogin {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
    }

    .accede p {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 5%;
    }

    .registrate p {
        font-size: 1.2rem;
        margin-top: 1%;
        margin-bottom: 2%;
    }

    .correoLogin span,
    .contraLogin span {
        color: red;
        font-size: 1rem;
        font-family: 'Work Sans';
        text-decoration: none;
    }

    .credenciales {
        display: flex;
        justify-content: center;
        color: red;
        margin-top: 1.5%;
        font-size: 1.1rem;
        font-family: 'Work Sans';
        text-decoration: none;
    }

    .correoLogin label,
    .contraLogin label,
    .correoReset label {
        display: block;
        font-size: 1.3rem;
        margin-top: 1.2rem;
    }

    .correoLogin input,
    .contraLogin input {
        position: relative;
        width: 100%;
        padding: 2vh;
        font-size: 1rem;
    }

    .toggle-password {
        position: absolute;
        transform: translateY(-120%);
        right: 9%;
    }



    .olvidadoContra {
        text-align: right;
        margin: 0;
        margin-top: 3%;
        font-size: 1.1rem;
    }

    .btnIniciaSesion {
        border-radius: 7px;
        background-color: #F9BD06;
        border-color: #0642F9;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        padding: 2vh;
        display: block;
        font-size: 1.2rem;
    }


    /*RESET PASSWORD*/
    .resetPwd {
        width: 95%;
        height: 69%;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        border: transparent;
        font-family: 'Work Sans';
    }

    .titleResetPwd {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
    }


    .txtResetPwd p {
        font-size: 1.2em;
    }


    .titleResetPwd img {
        width: 19%;
        height: 50%;
    }


    .correoReset input {
        width: 100%;
        padding: 2vh;
        font-size: 1rem;
    }


    .volverInicioSesion {
        text-align: center;
        margin: 0;
        margin-top: 10%;
        font-size: 1.25rem;
    }

    .events-category-home {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        align-items: center;
        width: auto;
    }

    .events-category-home>div {
        margin-left: 10%;
    }

    .card-showEvent {
        display: flex;
        flex-direction: column;
        
        background-color: #D9D9D9;
        margin: 10vw auto;
        border: 3px solid;
        border-color: #F9BD06;
        box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.5);
    }

    .img-showEvent {
        flex: 1;
    }

    .info-showEvent {
        flex: 1;
        font-family: 'Work Sans';
        margin: 10px;
    }


    .ubicacion-title-showEvent {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .ubicacion-title-showEvent img {
        padding-left: 10px;
    }

    .ubicacion-showEvent p {
        margin: 0;
    }

    .sesions-showEvent {
        width: 100%;
    }

    .select-wrapper {
        position: relative;
        width: 80%;
        margin-top: 5px;
    }

    .select-wrapper select {
        width: 100%;
        height: 7vw;
    }

    .card-timeSesion .session-time {
        background-color: #F9BD06;
        border-radius: 7px;
        margin-bottom: 5px;
    }

    .card-timeSesion {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        justify-items: center;
        grid-gap: 10px;
        align-items: center;
    }

    /*RESTABLECER CONTRASEÑA FORM*/
    .card-form-reset {
        width: 80vw;
        background-color: #D9D9D9;
        margin: 2% auto;
        padding: 1% 2%;
        font-family: 'Work Sans';
        border: 0.188rem solid;
        border-color: #0642F9;
        border-radius: 0.313rem;
    }

    .card-expired {
        width: 65vw;
        margin: 3% auto;
        padding: 1% 2%;

    }

    .ticket-container input{
        padding: 1vh;
        font-size: 1rem;
        margin-left: auto;
    }

    #total-price-container{
        width: 30vh;
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        justify-items: center;
        align-items: center;
        margin: auto;
        
    }

    /*HOME PROMOTOR*/
    .btnHomePromotor {
        display: grid;
        grid-template-columns: repeat(1, 3fr); 
        margin: 12vh ;
    }

    .btnCrearEvent,
    .btnAdministrarEvent,
    .btnListarSesionEvent {
        margin-top: 3vh; /* Agrega margen superior a cada botón */
    }

    .mostar-sesiones-promotor{
        margin-left: auto;
        margin-right: auto;
    }

    .show-session-promotor {
        display: flex;
        flex-direction: column;
        background-color: #B5B5B5;
        border: 5px solid;
        border-color: #F9BD06;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 10%;
    }

    .sesion-parte-superior{
        display: flex;
        flex-direction: row;
    }

    .imagen-sesion-promotor {
        max-height: 30vh;
        max-width: 15vh;
        margin-right: 10%;
    }

    .info-session-contenedor{
        margin-right: 10%; 
        width: 100%;
    }

    .mostrar-acciones {
        display: flex;
    }

    .buttons-sessions-promotor {
        display: none;
        flex-direction: column;
        margin-top: 5%;
    }

    .buttons-sessions-promotor > button{
        margin-bottom: 2%;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 7px;
        background-color: #F9BD06;
        border-color: #0642F9;
     }

     .titulo-mostar-sesion-promotor{
        font-size: 16px;
        font-weight: bold;
        margin: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

}




/* Home Promotor */
.contenedorLayout {
    display: flex;
    justify-content: center;
    margin: 3%;
    flex-direction: column;
}

.parte1formulario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1%;
}

.parte1formulario label,
.parte5formulario label {
    display: block;
}

.parte1formulario input,
.parte5formulario input {
    display: block;
}

.parte2formulario {
    display: flex;
    margin: 1%;
}

.descripcionFormulario {
    width: 40%;
}

.imagenFormulario {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.descripcionFormularioInput,
.imagenFormularioInput {
    width: 70%;
}

.parte2formulario input {
    height: 50px;
}


.parte3formulario {
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
}

.adrecaFormulario {
    width: 100%;
    display: flex;
    flex-direction: column;
}



.adrecaFormulario {
    width: 76%;
    display: flex;
    flex-direction: column;
}



.parteEntradasFormulario {
    width: 100%;
}

.entradasVisibles {
    display: flex;
    justify-content: center;
    margin-top: 5%;

}

.entradasVisiblesEleccion {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-around;
}

.numeroDireccionFormulario,
.fechaFinFormulario,
.horaFinFormulario {
    width: 33%;
}

.numeroDireccionFormularioInput,
.fechaFinFormularioInput,
.HoraFinFormularioInput {
    width: 70%;
}

.parte4formulario {
    display: flex;
    margin: 1%;
}

.nombreLocalFormulario,
.capacidadLocalFormulario {
    width: 50%;
}

.nombreLocalFormularioInput,
.capacidadLocalFormularioInput {
    width: 70%;
}

.parte5formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1%;
}

.provinciaFormulario,
.ciudadFormulario,
.codigoPostalFormulario {
    width: 33%;
}

.provinciaFormularioInput,
.ciudadFormularioInput,
.codigoPostalFormularioInput {
    width: 70%;
}

.parte6formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1%;
}

.fechaCelebracionFormulario,
.horaCelebracionFormulario,
.aforoMaximoFormulario {
    width: 33%;
}

.fechaCelebracionFormularioInput,
.horaCelebracionFormularioInput,
.aforoMaximoFormularioInput {
    width: 70%;
}

.btnGuardarEntradas {
    height: 40px;
    border-radius: 7px;
    background-color: #F9BD06;
    border-color: #0642F9;
    margin-top: 10%;
    font-size: 1.2rem;
    cursor: pointer;
}

.botones {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (min-width: 720px) {
    .div1 {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        float: left;
    }

    .div2 {
        height: 250px;
        width: 50%;
        float: right;
    }

    .parte1formulario {
        width: 76%;
    }

    .parte3formulario {
        width: 76%;
    }


}

.contenedorNombreEntradas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 9%;
}

.nombreEntradas {
    display: flex;
    flex-direction: column;
}

.precioCantidadEntradas {
    display: flex;
    padding-left: 10%;
}

.precioCantidadEntradas input {
    width: 70%;
}

.precioEntradas {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.cantidadEntradas {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.entradasNominales {
    margin: 9%;
    display: flex;
    justify-content: center;

}

.entradasNominalesEleccion {
    display: flex;
    justify-content: space-around;
}

.btnCrearEvento {
    height: 40px;
    border-radius: 7px;
    background-color: #F9BD06;
    border-color: #0642F9;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 1.2rem;
    cursor: pointer;
}

@media screen and (min-width: 860px) {
    .contenedorNombreEntradas {
        margin: 0%;
        margin-top: 5%;
        margin-bottom: 2%;
        padding-left: 10%;
        align-items: center;
    }

    .nombreEntradas {
        width: 50%;
    }

    .nombreEntradasInput {
        width: 70%;
    }

    .precioCantidadEntradas {
        flex-direction: column-reverse;
        align-items: center;
    }

    .cantidadEntradas {
        margin-bottom: 2%;
    }

    .entradasNominales {
        margin: 2%;
    }

    .entradasNominalesEleccion {
        justify-content: space-evenly;
    }
}

