@charset "UTF-8";
body {
  margin: 0%; }
  body.body-login .NavLogo {
    display: none; }
  body.body-login .auth {
    display: none; }
  body.body-login .menuImg {
    display: none; }
  body.body-ResetPwd .NavLogo {
    display: none; }
  body.body-ResetPwd .auth {
    display: none; }
  body.body-ResetPwd .menuImg {
    display: none; }

li {
  margin-right: 1rem; }

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center; }

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 15vh;
  background-color: #424242;
  bottom: 0%; }

.logo {
  margin-left: 1%;
  width: 5vh; }
  .logoNombre {
    width: 20vh; }

.linksFooter {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  position: static;
  width: 100vw;
  bottom: 0; }
  .linksFooter a {
    font-size: 1.10rem;
    text-decoration: none;
    font-family: 'Work Sans';
    color: white; }

.item-1 {
  grid-row: 1/2;
  grid-column: 1/2;
  /*Home Promotor*/ }

.item-2 {
  grid-row: 1/2;
  grid-column: 2/3;
  /*Sobre nosaltres*/ }

.item-3 {
  grid-row: 1/2;
  grid-column: 3/4;
  /*Avisos legales*/ }

.item-4 {
  grid-row: 2/3;
  grid-column: 1/2;
  /*Mostrar Esdeveniments*/ }

.item-5 {
  grid-row: 2/3;
  grid-column: 2/3;
  /*Comprar entrades*/ }

@media screen and (max-width: 425px) {
  .footer {
    width: 100%;
    height: 120px; }
  .logo {
    margin-left: 3%;
    width: 10%; }
    .logoNombre {
      width: 40%; }
  .links {
    display: none; }
    .linksFooter {
      width: 100vw;
      display: none; } }

.nav {
  display: grid;
  grid-template-columns: 0.3fr 0.2fr 4fr 0.5fr;
  align-items: center;
  padding: 0.8vh;
  background-color: #0642F9; }
  .navLogo {
    display: grid;
    justify-content: center;
    position: relative;
    width: 100%;
    justify-items: center; }
    .navLogo img {
      width: 50vh; }

.logoNav {
  width: 10vh; }

.menuIMG {
  cursor: pointer;
  width: 8vh;
  margin-left: 15%; }

.dropdown {
  display: flex;
  justify-content: start;
  grid-row: 1;
  background-color: #0642F9; }
  .dropdown-content {
    position: fixed;
    top: 12.3vh;
    left: 0;
    width: 35vh;
    height: 100vh;
    display: none;
    overflow: auto;
    background-color: #0642F9;
    border-top: 0.5px solid black;
    z-index: 10; }
    .dropdown-content a {
      display: block;
      color: #FFFFFF;
      text-decoration: none;
      font-size: 1.25rem;
      font-family: 'Work Sans'; }
    .dropdown-content p {
      display: block;
      color: #FFFFFF;
      padding: 10px 0px 10px 50px;
      text-decoration: none;
      font-size: 1.25rem;
      font-family: 'Work Sans'; }

.logout,
.homeMenu,
.homePromotorMenu,
.aboutusMenu,
.legalnoticeMenu {
  display: flex;
  align-items: center;
  padding: 7% 0% 5% 10%;
  transition: box-shadow 0.3s ease; }

.logout:hover,
.homeMenu:hover,
.homePromotorMenu:hover,
.aboutusMenu:hover,
.legalnoticeMenu:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.logout img,
.homeMenu img,
.homePromotorMenu img {
  padding-right: 1vh; }

.logout a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.25rem;
  font-family: 'Work Sans';
  padding-right: 3%; }

.auth {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .authUser {
    margin-top: 0.5rem;
    color: white;
    font-size: 1.25rem;
    font-family: 'Work Sans';
    text-decoration: none; }
  .auth a, .auth span {
    margin-top: 0.5rem;
    color: white;
    font-size: 1.25rem;
    font-family: 'Work Sans';
    text-decoration: none; }
  .auth img {
    width: 5vh; }

.separator {
  width: 100%;
  height: 3px;
  background-color: #0642F9;
  position: absolute;
  bottom: -10%; }

@media screen and (max-width: 425px) {
  .menuIMG {
    width: 8vh; }
  .dropdown-content {
    width: 30vh; }
  .logout {
    display: flex;
    align-items: center;
    padding: 5% 0% 5% 10%; }
    .logout a {
      color: #FFFFFF;
      text-decoration: none;
      font-size: 1rem;
      font-family: 'Work Sans'; }
  .logout,
  .homeMenu,
  .homePromotorMenu,
  .aboutusMenu,
  .legalnoticeMenu {
    display: flex;
    align-items: center;
    padding: 5% 0% 5% 10%; } }

.btnListarSesionEventPromotor, .btnAdministrarEventPromotor {
  padding: 2vh;
  border-radius: 7px;
  background-color: #F9BD06;
  border: 2px solid #0642F9;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer; }
  .btnListarSesionEventPromotor a, .btnAdministrarEventPromotor a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: 'Work Sans'; }
  .btnListarSesionEventPromotor:hover, .btnAdministrarEventPromotor:hover {
    background-color: #e6ad05;
    border-color: #0642F9; }

.btnAdministrarEventPromotor a {
  text-decoration: none;
  text-align: center;
  color: black;
  font-family: 'Work Sans'; }

.btnAdministrarEventPromotor:hover {
  background-color: #e6ad05;
  border-color: #0642F9; }

.btnCrearEventPromotor {
  padding: 2vh;
  border-radius: 7px;
  background-color: #F9BD06;
  border: 2px solid #0642F9;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer; }
  .btnCrearEventPromotor a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: 'Work Sans'; }
  .btnCrearEventPromotor:hover {
    background-color: #e6ad05;
    border-color: #0642F9; }

.btnHomePromotor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin: 26vh 2vh; }

.btneditEvent {
  position: absolute;
  top: 1vh;
  right: 1vh;
  padding: 0.5vh;
  background-color: #ebebeb;
  border: 1px solid #000000;
  border-radius: 1vh;
  z-index: 3;
  cursor: pointer; }
  .btneditEvent:hover {
    background-color: #D9D9D9; }

.btn-buy:hover {
  background-color: #e6ad05;
  border-color: #0642F9; }

.btnSessions-Promotor {
  display: flex;
  flex-direction: column;
  justify-self: end;
  display: none; }

.btnVerMas {
  align-self: self-end;
  margin-right: 4%; }

.btnIniciaSesion {
  padding: 2vh;
  border-radius: 7px;
  background-color: #F9BD06;
  border-color: #0642F9;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 1.2rem;
  cursor: pointer; }
  .btnIniciaSesion:hover {
    background-color: #e6ad05;
    border-color: #0642F9; }

.btnResetSesion {
  border-radius: 7px;
  background-color: #F9BD06;
  border-color: #0642F9;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 1.2rem;
  padding: 2vh;
  cursor: pointer; }
  .btnResetSesion:hover {
    background-color: #e6ad05;
    border-color: #0642F9; }

.btnResetPwd {
  padding: 2vh;
  border-radius: 7px;
  background-color: #F9BD06;
  border-color: #0642F9;
  margin-top: 2.5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 1.2rem;
  cursor: pointer; }
  .btnResetPwd:hover {
    background-color: #e6ad05;
    border-color: #0642F9; }

.btnBuscador {
  padding: 1vh;
  border-radius: 7px;
  background-color: #F9BD06;
  border-color: #0642F9;
  font-size: 1.25rem;
  cursor: pointer; }
  .btnBuscador:hover {
    background-color: #e6ad05;
    border-color: #0642F9; }

.btnGuardarEntradas {
  height: 40px;
  border-radius: 7px;
  background-color: #F9BD06;
  border-color: #0642F9;
  margin-top: 10%;
  font-size: 15px;
  cursor: pointer; }

.btnCrearEvento {
  height: 40px;
  border-radius: 7px;
  background-color: #F9BD06;
  border-color: #0642F9;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  font-size: 15px; }

.btnVerEventos {
  height: 40px;
  border-radius: 7px;
  background-color: #F9BD06;
  border-color: #0642F9;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  font-size: 15px; }

@media screen and (max-width: 425px) {
  .btnCrearEventPromotor {
    margin-top: 3vh; }
  .btnAdministrarEventPromotor {
    padding: 2vh;
    border-radius: 7px;
    background-color: #F9BD06;
    border: 2px solid #0642F9;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer; }
  .btnListarSesionEventPromotor, .btnAdministrarEventPromotor {
    padding: 2vh;
    border-radius: 7px;
    background-color: #F9BD06;
    border: 2px solid #0642F9;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer; }
  .btnHomePromotor {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    margin: 12vh; }
  .btnIniciaSesion {
    border-radius: 7px;
    background-color: #F9BD06;
    border-color: #0642F9;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 2vh;
    display: block;
    font-size: 1.2rem; }
  .btnBuscador {
    height: 40px;
    border-radius: 7px;
    background-color: #F9BD06;
    border-color: #0642F9;
    font-size: 1rem; }
  .btnGuardarEntradas {
    height: 40px;
    border-radius: 7px;
    background-color: #F9BD06;
    border-color: #0642F9;
    margin-top: 10%;
    font-size: 1.2rem;
    cursor: pointer; } }

.buscador {
  width: 30vw;
  padding: 1vh;
  border-radius: 10px;
  margin-right: 0.5%;
  font-size: 1.25rem;
  padding-left: 5vh;
  background-color: rgba(6, 66, 249, 0.133); }
  .buscadorContenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1.5%;
    position: relative; }
  .buscador-Form {
    display: flex;
    align-items: center;
    text-align: center; }

.imagenLupa {
  position: absolute;
  margin-left: 0.5vw; }

.imagenFiltrar {
  position: absolute;
  right: 39vw; }

.filtro {
  background-color: #ebeaea;
  border-radius: 0;
  width: 100%; }
  .filtro-div {
    border: 1px solid #000000;
    background-color: #B5B5B5;
    margin: auto;
    margin-top: 1%;
    padding: 2.5vh;
    width: 30vh;
    display: none; }
    .filtro-div p {
      margin: 0px;
      padding: 0px; }

@media screen and (max-width: 425px) {
  .buscador {
    width: 50vw; }
    .buscadorContenedor {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      margin-top: 3%; }
  .div_filtro {
    border: 1px solid #000000;
    background-color: #B5B5B5;
    margin: auto;
    margin-top: 1%;
    padding: 2vh;
    width: 24vh;
    display: none; }
  .imagenLupa {
    position: absolute;
    margin-left: 1.5vw; } }

.category-home {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  margin-top: 3%;
  margin-right: 3%; }
  .category-home-events {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    align-items: center; }
    .category-home-events > div {
      margin-right: 5%;
      margin-bottom: 2%; }
    .category-home-events > button {
      margin-left: 3%;
      font-size: medium; }
  .category-home > p {
    margin: 0;
    padding: 0;
    color: #0642F9;
    font-family: 'Work Sans';
    font-size: 4rem;
    margin-bottom: 2%; }

.ver-mas-button {
  align-self: self-end;
  margin-top: 2%;
  margin-bottom: 1%; }

@media screen and (max-width: 425px) {
  .category-home-events > div {
    margin-left: 10%; } }

.show-event-home {
  max-width: 30vh;
  min-width: 30vh;
  min-height: 50vh;
  max-height: 50vh;
  background-color: #ebebeb;
  margin-bottom: 5%;
  border: 5px solid;
  border-color: #F9BD06;
  cursor: pointer;
  font-family: 'Work Sans';
  position: relative; }
  .show-event-home:hover {
    background-color: #D9D9D9;
    border-color: #e6ad05; }
  .show-event-home-img {
    width: 100%;
    height: 35%; }
  .show-event-home-title {
    font-size: 1.4rem;
    margin: 5%;
    max-height: 70px;
    overflow: hidden;
    text-overflow: ellipsis; }
  .show-event-home a {
    color: #000000;
    text-decoration: none; }

.elementsEvents {
  display: flex;
  flex-direction: column; }
  .elementsEvents-direccion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .elementsEvents-direccion img {
      margin-left: 5%;
      padding-right: 2%; }
    .elementsEvents-direccion p {
      display: block !important;
      max-height: 56px;
      overflow: hidden;
      text-overflow: ellipsis; }
  .elementsEvents p {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1rem;
    margin: 5%; }

@media screen and (max-width: 425px) {
  .show-event-home-img {
    width: 100%;
    height: 27%; }
  .show-event-home-title {
    font-size: 1.4rem;
    margin: 5%;
    max-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis; }
  .show-event-home a {
    color: #000000;
    text-decoration: none; }
  .elementsEvents-direccion img {
    margin-left: 5%;
    padding-right: 2%; }
  .elementsEvents-direccion p {
    max-height: 40px; } }

/*body {
  margin: 0%;
  &.body-login{
    .NavLogo{
      display: none;
    }
    
    .auth{
      display: none;
    }
    .menuImg{
      display: none;
    }
  }
  &.body-ResetPwd{
    .NavLogo{
      display: none;
    }
    .auth{
      display: none;
    }
    .menuImg{
      display: none;
    }
  }

}*/
.alert {
  display: none;
  padding: 10px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px; }

.show-session-promotor {
  display: flex;
  flex-direction: row;
  background-color: #B5B5B5;
  border: 5px solid;
  border-color: #F9BD06;
  margin-left: 5%;
  margin-right: 5%; }

.event-counter {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30vh, 1fr));
  /* Usamos auto-fill para ajustar dinámicamente el número de columnas */
  gap: 20px;
  margin: 2%; }

.event-showHome {
  max-width: 30vh;
  min-width: 30vh;
  min-height: 50vh;
  max-height: 50vh;
  background-color: #ebebeb;
  margin-bottom: 5%;
  border: 5px solid;
  border-color: #F9BD06;
  cursor: pointer;
  font-family: 'Work Sans';
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  position: relative; }
  .event-showHome a {
    color: #000000;
    text-decoration: none; }
  .event-showHome-img {
    width: 100%;
    height: 35%; }
  .event-showHome-title {
    font-size: 1.4rem;
    margin: 5%;
    overflow: hidden;
    text-overflow: ellipsis; }
  .event-showHome:hover {
    background-color: #D9D9D9;
    border-color: #e6ad05; }

.elementsEvents {
  display: flex;
  flex-direction: column; }
  .elementsEvents img {
    padding-right: 2%; }
  .elementsEvents p {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1rem;
    margin: 5%; }

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 0; }
  .paginationContenedorMenu {
    display: flex;
    justify-content: center;
    align-items: center; }
  .pagination-menu {
    margin-right: 12vh; }
  .pagination-info {
    align-self: center;
    justify-self: center;
    margin-left: 9vh; }
    .pagination-info > p, .pagination-info > span {
      font-weight: bold;
      font-size: 1.2em; }
  .pagination .disabled a, .pagination .disabled span {
    color: #999;
    pointer-events: none;
    cursor: not-allowed; }
  .pagination .active span {
    background-color: #0642F9;
    color: #F9BD06;
    cursor: default; }
  .pagination a, .pagination span {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border: 1px solid #000000; }
    .pagination a:hover, .pagination span:hover {
      background-color: #e2e2e2; }
  .pagination li {
    margin-right: 5px; }

#total-price-container {
  width: 35vh;
  display: grid;
  grid-template-columns: 0.3fr 1.3fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 2vh;
  margin-left: auto; }
  #total-price-container p {
    font-size: 1.2rem;
    font-family: 'Work Sans';
    color: #000000; }

#buy-button {
  padding: 2vh;
  border-radius: 7px;
  background-color: #F9BD06;
  border-color: #0642F9;
  margin: 1vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 1.2rem;
  cursor: pointer; }

.contenedor-ticket {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2vh;
  background-color: #D9D9D9;
  margin: 5vh auto;
  border: 3px solid;
  border-color: #F9BD06;
  box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 1.1rem; }
  .contenedor-ticket input {
    padding: 2vh;
    font-size: 1rem;
    margin-left: auto; }

.contenedorMenu {
  display: flex;
  justify-content: center;
  align-items: center; }

.contenedorNombreEntradas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 9% 9% 13% 9%;
  font-size: 15px; }

.nombreEntradas {
  display: flex;
  flex-direction: column; }

.font-medium {
  color: #000000; }

.login {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #D9D9D9;
  margin: 4.5% auto;
  padding: 2.5%;
  font-family: 'Work Sans';
  border: 0.188rem solid #0642F9;
  border-radius: 0.313rem;
  width: 65vw; }
  .loginCorreo span {
    color: red;
    font-size: 1.1rem;
    font-family: 'Work Sans';
    text-decoration: none; }
  .loginCorreo label {
    font-size: 1.5rem; }
  .loginCorreo input {
    position: relative;
    width: 100%;
    padding: 2vh;
    font-size: 1rem;
    margin-top: 0.3rem; }
  .loginContra span {
    color: red;
    font-size: 1.1rem;
    font-family: 'Work Sans';
    text-decoration: none; }
  .loginContra label {
    font-size: 1.5rem; }
  .loginContra input {
    position: relative;
    width: 100%;
    padding: 2vh;
    font-size: 1rem;
    margin-top: 0.3rem; }
  .loginTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 2.25rem;
    font-weight: bold;
    margin: 0; }

.CorreoReset label {
  display: block;
  font-size: 1.5rem;
  margin-top: 1rem; }

.CorreoReset input {
  width: 100%;
  padding: 2vh;
  font-size: 1rem;
  margin-top: 0.313rem; }

.volverInicioSession {
  text-align: left;
  margin-top: 1rem;
  font-size: 1.25rem; }
  .volverInicioSession a {
    text-decoration: none;
    color: #0642F9; }

.credenciales-success, .correcto {
  color: green;
  font-size: 1.1rem;
  font-family: 'Work Sans'; }

.titleResetPwd {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0; }
  .titleResetPwd p {
    font-size: 1.375rem;
    margin-top: 1%;
    margin-bottom: 2%; }

.resetPwd {
  width: 65vw;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #D9D9D9;
  margin: 4.5% auto;
  padding: 2.5%;
  font-family: 'Work Sans';
  border: 0.188rem solid;
  border-color: #0642F9;
  border-radius: 0.313rem; }
  .resetPwdExito {
    color: green; }
  .resetPwdTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2.25rem;
    font-weight: bold;
    margin: 0; }
  .resetPwdText p {
    font-size: 1.375rem;
    margin-top: 1%;
    margin-bottom: 2%; }

.olvidadoContra {
  text-align: right;
  margin: 0;
  margin-top: 1%;
  font-size: 1.25rem; }
  .olvidadoContra a {
    text-decoration: none;
    color: #0642F9; }

.toggle-password {
  position: absolute;
  transform: translateY(-120%);
  cursor: pointer;
  right: 19%; }
  .toggle-password img {
    width: 20%;
    height: 15%; }

.accede p {
  font-size: 1.625rem;
  font-weight: bold;
  margin: 0; }

.registrate a {
  text-decoration: none;
  color: #0642F9; }

.registrate p {
  font-size: 1.375rem;
  margin-top: 1%;
  margin-bottom: 2%; }

.eventos-no-encontrados {
  color: #0642F9;
  font-size: 40px;
  text-align: center;
  justify-content: center;
  padding: 19vh; }

.card-margin {
  margin: 5vh; }

.card-showTickets {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card-showEvent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #D9D9D9;
  margin: 5vh auto;
  border: 3px solid;
  border-color: #F9BD06;
  box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.5); }

.card-timeSesion {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  justify-items: center;
  grid-gap: 10px;
  align-items: center; }
  .card-timeSesion .session-time {
    background-color: #F9BD06;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 5px; }

.card-expired {
  width: 32%;
  background-color: #D9D9D9;
  margin: 3% auto;
  padding: 1% 2%;
  font-family: 'Work Sans';
  border: 0.188rem solid;
  border-color: #0642F9;
  border-radius: 0.313rem; }
  .card-expired a {
    color: #0642F9; }

.card-reset {
  width: 100%;
  height: 100%; }
  .card-reset-form {
    width: 40%;
    background-color: #D9D9D9;
    margin: 2% auto;
    padding: 1% 2%;
    font-family: 'Work Sans';
    border: 0.188rem solid;
    border-color: #0642F9;
    border-radius: 0.313rem; }

.info-session {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .info-session > img {
    margin-right: 5%; }

.sesion-parte-superior {
  display: flex;
  flex-direction: row; }

.sessions-promotor-imagen {
  max-height: 30vh;
  max-width: 15vh;
  margin-right: 10%; }

.sessions-promotor-show {
  display: flex;
  flex-direction: row;
  background-color: #B5B5B5;
  border: 5px solid;
  border-color: #F9BD06;
  margin-bottom: 5%; }

.sessions-promotor-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 5%; }
  .sessions-promotor-buttons > button {
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 7px;
    background-color: #F9BD06;
    border-color: #0642F9; }

.sessions-promotor-mostrar {
  margin-left: 20%;
  margin-right: 20%; }

.sessions-promotor-titulo {
  text-align: center;
  color: #0642F9; }

.info-session-contenedor {
  margin-right: 10%; }

.mostrar-acciones {
  display: none; }
  .mostrar-acciones > img {
    margin-top: auto;
    margin-bottom: auto;
    max-width: 40px; }

.mensaje-error {
  color: red;
  font-size: 1.1rem;
  font-family: 'Work Sans';
  text-decoration: none; }

.showEvent-info {
  flex: 1;
  font-family: 'Work Sans';
  font-size: 1.2rem;
  margin: 20px; }

.showEvent-img {
  flex: 1;
  height: 20%; }
  .showEvent-img img {
    width: 100%; }

.showEvent-ubicacion p {
  margin: 0; }

.showEvent-ubicacion-title {
  display: flex;
  align-items: center; }
  .showEvent-ubicacion-title img {
    padding-left: 10px;
    width: 3%;
    height: 3%; }

.showEvent-info {
  flex: 1;
  font-family: 'Work Sans';
  font-size: 1.2rem;
  margin: 20px; }

.showEvent-card {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  flex-direction: row;
  background-color: #D9D9D9;
  margin: 5% auto;
  border: 3px solid;
  border-color: #F9BD06;
  box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.5); }

.showEvent-home-title {
  font-size: 1.4rem;
  margin: 5%;
  overflow: hidden;
  text-overflow: ellipsis; }

.showEvent-home-img {
  width: 100%;
  height: 35%; }

.showEvent-home a {
  color: #000000;
  text-decoration: none; }

.showEvent-img {
  flex: 1;
  height: 20%; }
  .showEvent-img img {
    width: 100%; }

.select-wrapper {
  position: relative;
  margin-top: 5px; }
  .select-wrapper select {
    width: 80%;
    height: 2vw;
    cursor: pointer; }

.credenciales, .emailerror, .passworderror, .resetPwdError, .invalid-feedback {
  color: red;
  font-size: 1.1rem;
  font-family: 'Work Sans';
  text-decoration: none; }

.resetPwdExito {
  color: green;
  font-size: 1.1rem;
  font-family: 'Work Sans'; }

.imagenUsuarioDespegable {
  margin-top: 1vh;
  padding-left: 40px; }

.links a {
  font-weight: bold;
  color: #F9BD06;
  text-decoration: none;
  font-size: 1.75rem;
  font-family: 'Work Sans'; }

.titulo-sessions-promotor {
  text-align: center;
  color: #0642F9; }

.imagen-sesion-promotor {
  max-height: 30vh;
  max-width: 15vh;
  margin-right: 10%; }

.botones {
  display: flex;
  justify-content: space-evenly; }

.contenedorLayout {
  display: flex;
  justify-content: center;
  margin: 3%;
  flex-direction: column; }

.layoutHomePromotor {
  height: 200px;
  margin-top: 1%; }

.parte1formulario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 1%;
  margin-bottom: 5%; }
  .parte1formulario label, .parte1formulario input {
    display: block; }

.parte2formulario {
  display: flex;
  margin-left: 1%;
  margin-bottom: 5%; }
  .parte2formulario Input {
    height: 50px; }

.parte3formulario {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1%;
  margin-bottom: 5%; }

.parte4formulario {
  display: flex;
  margin-left: 1%;
  margin-bottom: 10%; }

.parte5formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 1%;
  margin-bottom: 10%; }
  .parte5formulario label, .parte5formulario input {
    display: block; }

.parte6formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1%; }

.parte6formularioSesion {
  display: flex;
  justify-content: space-evenly; }

.parteEntradasFormulario {
  width: 100%;
  margin-bottom: 10%; }

.readonly-field {
  background-color: #f2f2f2;
  color: #666;
  border: 1px solid #ccc; }

.formularioNumeroDireccion, .formularioFechaFin, .formularioHoraFin {
  width: 33%; }
  .formularioNumeroDireccionInput, .formularioFechaFinInput, .formularioHoraFinInput {
    width: 70%; }

.formularioNombreLocal {
  width: 55%; }
  .formularioNombreLocalInput, .formularioCapacidadLocalInput {
    width: 70%; }

.formularioCapacidadLocal {
  width: 45%; }

.formularioProvincia, .formularioCodigoPostal, .formularioCiudad {
  width: 33%; }
  .formularioProvinciaInput, .formularioCodigoPostalInput, .formularioCiudadInput {
    width: 70%; }

.formularioFechaCelebracion, .formularioHoraCelebracion, .formularioAforoMaximo {
  width: 33%; }
  .formularioFechaCelebracionInput, .formularioHoraCelebracionInput, .formularioAforoMaximoInput {
    width: 70%; }
  .formularioFechaCelebracionSesion {
    display: flex;
    flex-direction: column; }

.formularioHoraCelebracionSesion {
  display: flex;
  flex-direction: column; }

.formularioAforoMaximoSesion {
  display: flex;
  flex-direction: column; }

.entradasVisibles {
  display: flex;
  justify-content: center; }
  .entradasVisiblesEleccion {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-around; }

.entradasPrecio {
  width: 50%;
  display: flex;
  flex-direction: column; }
  .entradasPrecioCantidad {
    display: flex;
    padding-left: 10%;
    font-size: 15px; }
    .entradasPrecioCantidad input {
      width: 70%; }

.entradasCantidad {
  width: 50%;
  display: flex;
  flex-direction: column; }

.entradasNominales {
  margin: 9%;
  display: flex;
  justify-content: center;
  font-size: 15px; }
  .entradasNominalesEleccion {
    display: flex;
    justify-content: space-around;
    font-size: 15px; }

.formularioDescripcion {
  width: 40%; }
  .formularioDescripcionInput {
    width: 70%; }

.formularioImagen {
  width: 50%;
  display: flex;
  flex-wrap: wrap; }

.formularioAdreca {
  width: 100%;
  display: flex;
  flex-direction: column; }

.div1, .div2 {
  font-size: 15px; }

@media screen and (max-width: 380px) {
  .div1, .div2 {
    font-size: 13px; } }

@media screen and (max-width: 425px) {
  .contenedorLayout {
    display: flex;
    justify-content: center;
    margin: 3%;
    flex-direction: column; }
  .event-counter {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(29vh, 1fr));
    gap: 20px;
    height: calc(85vh - 110px - 110px);
    overflow-y: auto; }
  .ticket-container input {
    padding: 1vh;
    font-size: 1rem;
    margin-left: auto; }
  #total-price-container {
    width: 30vh;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-items: center;
    align-items: center;
    margin: auto; }
  .div_filtro {
    border: 1px solid #000000;
    background-color: #B5B5B5;
    margin: auto;
    margin-top: 1%;
    padding: 2vh;
    width: 24vh;
    display: none; }
  .imagenUsuarioDespegable {
    display: flex;
    padding-left: 5%; }
  .showEvent-img {
    flex: 1;
    font-family: 'Work Sans';
    margin: 10px; }
  .showEvent-card {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    margin: 10vw auto;
    border: 3px solid;
    border-color: #F9BD06;
    box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.5); }
  .showEvent-home-img {
    width: 100%;
    height: 27%; }
  .showEvent-sessions {
    width: 100%; }
  .showEvent-ubicacion p {
    margin: 0; }
  .showEvent-ubicacion-title {
    display: flex;
    align-items: center;
    width: 100%; }
    .showEvent-ubicacion-title img {
      padding-left: 10px; }
  .showEvent-card {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: #D9D9D9;
    margin: 10vw auto;
    border: 3px solid;
    border-color: #F9BD06;
    box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.5); }
  .showEvent-info {
    flex: 1;
    font-family: 'Work Sans';
    margin: 10px; }
  .showEvent-img {
    flex: 1; }
  .showEvent-home-img {
    width: 100%;
    height: 27%; }
  .olvidadoContra {
    text-align: right;
    margin: 0;
    margin-top: 3%;
    font-size: 1.1rem; }
  .credenciales, .emailerror, .passworderror, .resetPwdError, .invalid-feedback {
    display: flex;
    justify-content: center;
    color: red;
    margin-top: 1.5%;
    font-size: 1.1rem;
    font-family: 'Work Sans';
    text-decoration: none; }
  .correoReset label {
    display: block;
    font-size: 1.3rem;
    margin-top: 1.2rem; }
  .correoReset input {
    width: 100%;
    padding: 2vh;
    font-size: 1rem; }
  .toggle-password {
    position: absolute;
    transform: translateY(-120%);
    right: 9%; }
    .toggle-password img {
      width: 30%;
      height: 20%;
      margin-left: 210%; }
  .login {
    width: 90vw;
    background-color: transparent;
    border: transparent;
    font-family: 'Work Sans'; }
    .loginCorreo {
      margin-top: 1rem; }
      .loginCorreoReset label {
        display: block;
        font-size: 1.3rem;
        margin-top: 1.2rem; }
      .loginCorreologin input {
        position: relative;
        width: 100%;
        padding: 2vh;
        font-size: 1rem; }
      .loginCorreologin label {
        display: block;
        font-size: 1.3rem;
        margin-top: 1.2rem; }
      .loginCorreo span {
        color: red;
        font-size: 1rem;
        font-family: 'Work Sans';
        text-decoration: none; }
    .loginContra {
      margin-top: 1rem; }
      .loginContralogin input {
        position: relative;
        width: 100%;
        padding: 2vh;
        font-size: 1rem; }
      .loginContralogin label {
        display: block;
        font-size: 1.3rem;
        margin-top: 1.2rem; }
      .loginContra span {
        color: red;
        font-size: 1rem;
        font-family: 'Work Sans';
        text-decoration: none; }
    .loginTitle {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 2rem;
      font-weight: bold;
      margin: 0; }
      .loginTitle img {
        width: 18%;
        height: 70%; }
  .accede p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 5%; }
  .registrate p {
    font-size: 1.2rem;
    margin-top: 1%;
    margin-bottom: 2%; }
  .resetPwd {
    width: 95%;
    height: 69%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: transparent;
    font-family: 'Work Sans'; }
    .resetPwdtitle {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 2rem;
      font-weight: bold;
      margin: 0; }
      .resetPwdtitle p {
        font-size: 1.2em; }
      .resetPwdtitle img {
        width: 19%;
        height: 50%; }
  .volverInicioSession {
    text-align: center;
    margin: 0;
    margin-top: 10%;
    font-size: 1.25rem; }
  .correoReset input {
    width: 100%;
    height: 27%;
    font-size: 1rem; }
  .select-wrapper {
    position: relative;
    width: 80%;
    margin-top: 5px; }
    .select-wrapper select {
      width: 100%;
      height: 7vw; }
  .card-expired {
    width: 65vw;
    margin: 3% auto;
    padding: 1% 2%; }
  .card-form-reset {
    width: 80vw;
    background-color: #D9D9D9;
    margin: 2% auto;
    padding: 1% 2%;
    font-family: 'Work Sans';
    border: 0.188rem solid;
    border-color: #0642F9;
    border-radius: 0.313rem; }
  .card-timeSession {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    justify-items: center;
    grid-gap: 10px;
    align-items: center; }
    .card-timeSession .session-time {
      background-color: #F9BD06;
      border-radius: 7px;
      margin-bottom: 5px; }
  .mostrar-acciones {
    display: flex; }
  .sesiones-contenedor-info {
    margin-right: 10%; }
  .sesiones-parte-superior {
    display: flex;
    flex-direction: row; }
  .sesiones-promotor-buttons {
    display: none;
    flex-direction: column;
    margin-top: 5%; }
  .sesiones-promotor-imagen {
    max-height: 30vh;
    max-width: 15vh;
    margin-right: 10%; }
  .sesiones-promotor-show {
    display: flex;
    flex-direction: column;
    background-color: #B5B5B5;
    border: 5px solid;
    border-color: #F9BD06;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%; }
  .sesiones-promotor-mostrar {
    margin-left: auto;
    margin-right: auto; }
  .parte1formulario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 1%;
    margin-bottom: 10%; }
    .parte1formulario label {
      display: block; }
    .parte1formulario input {
      display: block; }
  .parte2formulario {
    display: flex;
    margin-left: 1%;
    margin-bottom: 10%;
    justify-content: space-between; }
  .parte3formulario {
    display: flex;
    flex-wrap: wrap;
    margin: 1%; }
  .parte4formulario {
    display: flex;
    margin-left: 1%;
    margin-bottom: 10%; }
  .parte5formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 1%;
    margin-bottom: 10%; }
    .parte5formulario label {
      display: block; }
    .parte5formulario input {
      display: block; }
  .parte6formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1%; }
    .parte6formularioSesion {
      flex-direction: column;
      align-content: center;
      flex-wrap: wrap; }
  .formularioAforoMaximo {
    width: 33%; }
    .formularioAforoMaximo input {
      width: 70%; }
    .formularioAforoMaximoSesion {
      margin: 3%; }
  .formularioHoraCelebracion {
    width: 33%; }
    .formularioHoraCelebracion input {
      width: 70%; }
    .formularioHoraCelebracionSesion {
      margin: 3%; }
  .formularioFechaCelebracion, .formularioHoraCelebracion, .formularioAforoMaximo {
    width: 33%; }
    .formularioFechaCelebracion input, .formularioHoraCelebracion input, .formularioAforoMaximo input {
      width: 70%; }
    .formularioFechaCelebracionSesion {
      margin: 3%; }
  .formularioCodigoPostal {
    width: 33%; }
    .formularioCodigoPostal input {
      width: 70%; }
  .formularioCiudad {
    width: 33%; }
    .formularioCiudad input {
      width: 70%; }
  .formularioProvincia, .formularioCodigoPostal, .formularioCiudad {
    width: 33%; }
    .formularioProvincia input, .formularioCodigoPostal input, .formularioCiudad input {
      width: 70%; }
  .formularioCapacidadLocal {
    width: 50%; }
    .formularioCapacidadLocal input {
      width: 70%; }
  .formularioNombreLocal {
    width: 50%; }
    .formularioNombreLocal input {
      width: 70%; }
  .formularioHoraFin {
    width: 33%; }
    .formularioHoraFin input {
      width: 70%; }
  .formularioFechaFin {
    width: 33%; }
    .formularioFechaFin input {
      width: 70%; }
  .formularioNumeroDireccion, .formularioFechaFin, .formularioHoraFin {
    width: 33%; }
    .formularioNumeroDireccion input, .formularioFechaFin input, .formularioHoraFin input {
      width: 70%; }
  .formularioParteEntradas {
    width: 100%; }
  .formularioAdreca {
    display: flex;
    flex-direction: column; }
  .formularioDescripcion {
    width: 40%; }
    .formularioDescripcion input {
      height: 50px;
      width: 120px; }
  .formularioImagen {
    width: 50%;
    display: flex;
    flex-wrap: wrap; }
  .entradasVisibles {
    display: flex;
    justify-content: center;
    margin-top: 5%; }
    .entradasVisiblesEleccion {
      margin-top: 5%;
      margin-bottom: 5%;
      display: flex;
      justify-content: space-around; }
  .botones {
    display: flex;
    justify-content: space-evenly; }
  .btnCrearEventPromotor {
    margin-top: 3vh; }
  .btnCrearSesion {
    margin: 3%; }
  .btnAdministrarEventPromotor {
    padding: 2vh;
    border-radius: 7px;
    background-color: #F9BD06;
    border: 2px solid #0642F9;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer; }
  .btnListarSesionEventPromotor, .btnAdministrarEventPromotor {
    padding: 2vh;
    border-radius: 7px;
    background-color: #F9BD06;
    border: 2px solid #0642F9;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer; }
  .btnHomePromotor {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    margin: 12vh; }
  .btnIniciaSesion {
    border-radius: 7px;
    background-color: #F9BD06;
    border-color: #0642F9;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 2vh;
    display: block;
    font-size: 1.2rem; }
  .btnBuscador {
    height: 40px;
    border-radius: 7px;
    background-color: #F9BD06;
    border-color: #0642F9;
    font-size: 1rem; }
  .btnGuardarEntradas {
    height: 40px;
    border-radius: 7px;
    background-color: #F9BD06;
    border-color: #0642F9;
    margin-top: 10%;
    font-size: 1.2rem;
    cursor: pointer; } }

@media screen and (min-width: 720px) {
  .div1 {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    float: left; }
  .div2 {
    height: 250px;
    width: 50%;
    float: right; }
  .parte1formulario {
    width: 76%; }
  .parte3formulario {
    width: 100%; }
  .contenedorNombreEntradas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 9%; }
  .nombreEntradas {
    display: flex;
    flex-direction: column; }
  .entradasNominales {
    margin: 9%;
    display: flex;
    justify-content: center; }
    .entradasNominalesEleccion {
      display: flex;
      justify-content: space-around; }
  .entradasCantidad {
    width: 50%;
    display: flex;
    flex-direction: column; }
  .entradasPrecio {
    width: 50%;
    display: flex;
    flex-direction: column; }
    .entradasPrecioCantidad {
      display: flex;
      padding-left: 10%; }
      .entradasPrecioCantidad input {
        width: 70%; }
  .formularioAdreca {
    width: 76%; } }

.btnCrearEvento {
  height: 40px;
  border-radius: 7px;
  background-color: #F9BD06;
  border-color: #0642F9;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 1.2rem;
  cursor: pointer; }

@media screen and (min-width: 860px) {
  .contenedorNombreEntradas {
    margin: 0%;
    margin-top: 5%;
    margin-bottom: 2%;
    padding-left: 10%;
    align-items: center; }
  .nombreEntradas {
    width: 50%; }
    .nombreEntradasInput {
      width: 70%; }
  .entradasNominales {
    margin: 2%; }
    .entradasNominalesEleccion {
      justify-content: space-evenly; }
  .entradasCantidad {
    margin-bottom: 2%; }
  .entradasPrecioCantidad {
    flex-direction: column-reverse;
    align-items: center; } }
